<%= form_with model: @recipe, local: true do |f| %>
  <div class="mb-3">
    <%= f.label :name, class: "form-label" %>
    <%= f.text_field :name, class: "form-control", autofocus: true %>
  </div>

 <div class="mb-3">
    <%= f.label :ingredients, class: "form-label" %>
    <%= f.text_area :ingredients, class: "form-control" %>
</div>

 <div class="mb-3">
  <%= f.label :instructions, class: "form-label" %>
  <%= f.text_area :instructions, class: "form-control" %>
</div>

 <div class="mb-3">
  <%= f.label :source, class: "form-label" %>
  <%= f.text_field :source_url, class: "form-control" %>
</div>

 <div class="mb-3">
  <%= f.submit %>
</div>
  
<% end %>